.tile {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.minesweeperGameGrid {
    display: flex;
    flex-wrap: wrap;
}

.minesweeperGame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.minesweeperLogo {
    width: 3.5rem;
    margin: 1rem;
}